.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #292929; /* Slightly lighter dark background */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  color: #FFFFFF; /* White text color */
}

.flag-image {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow here */
  border: 5px solid #61C0BF; /* Light teal border */
  border-radius: 10px;
}

.country-info {
  text-align: left;
}

.country-info p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #A8E6CF; /* Light green text */
}

.speaker-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.continue-button {
  background-color: #47A025; /* Duolingo green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Fully rounded button */
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s;
}

.continue-button:hover {
  background-color: #3D8B22; /* Dark green */
}

.continue-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
